
body {
	margin: 0;
	font-family: 'Montserrat', Helvetica, Arial, Verdana, sans-serif;
}

header {
	width: 100%;
	height: 100px;
	float: left;
	position: fixed;
	z-index: 1;
	background: rgb(255, 255, 255);
	
	
}
.header-container {
	width: 100%;
	max-width: 1920px;
	display: block;
	
}
.logo {
	width: 15%;
	height: 100%;
	float: left;
	img {
		width: 75px;
		margin: 0 0 20px 15px;
	}
}
.banner {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("../img/banner.jpg");
	background-size: cover ;
	background-repeat: no-repeat;
	height: 100px;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 10px;
	
	h1 {
		text-align: center;
	}
}
nav {
	width: 85%;
	height: 100%;
	float: left;
	div {
		float: right;
		padding: 25px 30px 0 0;
		a {
			&:hover {
				opacity: 0.7;
                background: #5E5B4E;
			}
		}
	}
	a {
		text-decoration: none;
		padding: 10px 15px;
		margin-left: 10px;
		
		color: black;
		border-radius: 7px;
		&:active {
			opacity: 0.7;
		}
        &:hover{
            color:#fff;
        }
	}
}
main {
	width: 100%;
	height: 100%;
	float: left;
	padding-top: 6rem;
	padding-bottom: 8rem;
}
.container {
	width: 100%;
	
	display: block;
	margin: 0 auto;
    background: url("../img/bg-min.jpg") center center no-repeat;
    background-size: cover;

   //
}
section.top {
	width: 100%;
	height: 350px;
    
	//background: #080C2B;
	//overflow: hidden;
	div {
		
		float: left;
		height: 100%;
	}
}
.top {
	h1 {
		color: white;
		font-size: 30px;
		padding: 40px 0 0 40px;
		margin: 0;
	}
	h2 {
		color: orange;
		font-size: 18px;
		padding: 15px 0 0 40px;
		margin: 0;
	}
	a {
		display: inline-block;
		padding: 10px 20px;
		border: 2px solid white;
		margin-top: 20px;
		margin-left: 40px;
		text-decoration: none;
		color: white;
		&:hover {
			background-color: orange;
			font-weight: 700;
		}
	}
	div {
		img {
			height: 100%;
			display: block;
			margin: 0 auto;
		}
	}
}
section.list {
	width: 100%;
	margin-top: 2rem;
}
.articles-ligne {
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.list {
	a {
		width: 33.33%;
		display: block;
		float: left;
		text-decoration: none;
		img {
			width: 100%;
			&:hover {
				opacity: 0.9;
			}
		}
	}
}
section {
	a {
		article {
			h3 {
				text-decoration: none;
				text-align: center;
				color: rgb(0, 130, 216);
				&:hover {
					color: orange;
				}
			}
		}
	}
	form {
		button {
			font-size: 18px;
			padding: 10px 20px;
			background: purple;
			color: white;
			border: none;
			margin-left: 0.8em;
			border-radius: 7px;
		}
	}
}

/************ contact *****************/
.testbla {
	display: flex;
	flex-direction: row;
	@media screen and (max-width: 768px) {
	  padding-top: 2.25rem;
	}
	@media screen and (min-width: 768px) and (max-width: 1280px) {
	  padding-top: 6rem;
	}
	.global-contact {
	 
	  display: flex;
	  justify-content: space-evenly;
	  width: 100%;
	  @media screen and (min-width: 768px) and (max-width: 1280px) {
		height: 100%;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	  }
	  .form-mess {
		width: 30%;
		border: solid 1px rgb(138, 138, 138);
		border-radius: 15px;
		background-color: #fff;
		box-shadow: 10px 5px 20px rgb(63, 63, 63);
		@media screen and (max-width: 768px) {
		  width: 80%;
		  margin-top: 250px;
		}
		@media screen and (min-width: 768px) and (max-width: 1280px) {
		  width: 40%;
		  margin-bottom: 3rem;
		}
		h1 {
		  
		  text-align: center;
		 
		  font-size: 2rem;
		  @media screen and (max-width: 768px) {
			font-size: 1.75rem;
		  }
		}
		form {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		  width: 300px;
		  height: 100%;
		  margin: 0 auto;
		  
		  @media screen and (max-width: 768px) {
			display: flex;
			flex-direction: column;
			align-items: center;
		  }
		}
	  }
	}
  }
 
  .form-contact-input input, textarea {
	background-color: transparent;
	border: none;
	outline: none;
	padding-left: 10px;
	width: 100%;
	height: 50px;
	margin: 10px 0 10px 0;
	border-bottom: solid 2px #000;
	font-size: 20px;
	transition: 0.5s;
	&:focus {
		border: 2px solid #080C2B;
		border-radius: 5px;
		outline: none;
	}
	&::placeholder {
	  
	  font-size: 20px;
	}

  }
  
  .form-contact-submit {
	@media screen and (max-width: 768px) {
	  width: 80%;
	  margin: 0 auto;
	}
	@media screen and (min-width: 768px) and (max-width: 1280px) {
	  margin-bottom: 20px;
	}
	input {
	  border: none;
	  color: #fff;
	  border-radius: 10px;
	  height: 40px;
	  margin: 30px 0 0 0;
	  width: 300px;
	  font-size: 20px;
	  cursor: pointer;
	  transition: box-shadow 0.3s;
	  background-color:  #0082D8;
	  &:hover {
		box-shadow: 0px 0px 15px #3f3f3f;
		background: blue;
		box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
	  }
	 
	}
  }
 
  
  .form-input {
	margin-bottom: 20px;
	input {
	  background-color: transparent;
	  color: #000;
	  width: 100%;
	  height: 40px;
	  outline: none;
	  border: none;
	  border-bottom: solid 2px #000;
	  padding-left: 10px;
	  font-size: 20px;
	  transition: 0.5s;
	  font-family: poppins;
  
	  &::placeholder {
		
		font-size: 20px;
	  }
	}
	span {
	  color: red;
	}
	#signupstat {
	  color: #000;
	  font-weight: bold;
	}
  }
  
  .form-submit {
	display: flex;
	justify-content: center;
	input {
	  background-color: rgb(44, 121, 0);
	  color: #fff;
	  outline: none;
	  border: none;
	  width: 60%;
	  border-radius: 10px;
	  height: 40px;
	  font-size: 20px;
	  font-family: poppins;
	  cursor: pointer;
	  transition: box-shadow 0.3s;
	  &:hover {
		box-shadow: 0px 0px 15px #3f3f3f;
	  }
	}
  }
  
  @media screen and (max-width: 768px) {
	.global-contact {
	  width: 100%;
	  height: auto;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	}
  
	.columnico {
	  display: flex;
	  flex-direction: row;
	  width: 80%;
	  justify-content: space-between;
	  align-items: center;
	  padding: 12px;
  
	  img {
		margin: 0;
		width: 70px;
	  }
	}
  
	.form-mess {
	  margin: 2em 0;
	  width: 80%;
  
	  form {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	  }
	}
  
	.form-contact-submit input {
	  width: 50%;
	  display: flex;
	  justify-content: center;
	  margin: 20px auto 40px auto;
	  
	}
  
	.map {
	  width: 80%;
	}
  }
  
  @media screen and (max-width: 1280px) {
	.global-contact {
	  width: 95%;
	}
  
 
	.form-mess form {
	  width: 80%;
	}
  
	.form-contact-submit input {
	  width: 100%;
	  margin-top: 2rem;
	}
  }
  .map {
	width:50%;
	  iframe {
		width: 100%;
		border: solid 1px rgb(138, 138, 138);
		box-shadow: 10px 5px 20px #3f3f3f;
		border-radius: 15px;
		@media screen and (min-width: 768px) and (max-width: 1280px) {
		height: 50%;
		}
	}
  }




/************ footer *****************/



footer {
	width: 100%;
	float: left;
	background: #080C2B;
	color: white;
	nav {
		height: auto;
		padding: 0px 10px;
		a {
			background: transparent;
			padding-left: 0;
			margin-left: 0;
			color: rgb(0, 130, 216);
			&:visited {
				color: rgb(0, 130, 216);
			}
			&:hover {
				color: orange;
			}
			&:active {
				color: orange;
			}
		}
	}
	img {
		padding: 0px 10px;
	}
	p {
		padding: 0px 10px;
		a {
			background: transparent;
			padding-left: 0;
			margin-left: 0;
			color: rgb(0, 130, 216);
			&:hover {
				color: orange;
			}
			&:active {
				color: orange;
			}
		}
	}
	h4 {
		padding: 0px 10px;
		margin-bottom: 0;
	}
	ul {
		list-style: none;
		padding-left: 0;
		li {
			padding-bottom: 15px;
		}
	}
}
.footer-container {
	max-width: 1920px;
	display: block;
	margin: 0 auto;
	margin-top: 40px;
}
.block-par-4 {
	float: left;
	width: 25%;
	padding-top: 40px;
	p {
		a {
			text-decoration: none;
		}
	}
}
.block-footer-nav {
	h4 {
		margin-left: 50px !important;
	}
	nav {
		margin-left: 50px !important;
	}
}
.socials-img {
	img {
		height: 35px;
		margin-top: 20px;
	}
}
.footer-logo {
	max-width: 75px;
}
.copyright {
	font-size: 70%;
}
.login {
	width: 50%;
	float: left;
	h1 {
		color: #080C2B;
		padding-left: 1.2em;
	}
}
.signup {
	width: 50%;
	float: left;
}
fieldset {
	border: none;
	a {
		float: right;
		margin-right: 12em;
		text-decoration: none;
		color: blue;
		&:hover {
			color: purple;
		}
		&:active {
			color: purple;
		}
	}
}
label {
	display: block;
}
label.check {
	display: inline-block;
}
input {
	width: 75%;
	height: 35px;
	border-radius: 5px;
	background: rgba(0,0,0,0.07);
	border: none;
	
}
input.check {
	width: auto;
	height: auto;
}


.post {
	width: 100%;
	max-width: 840px;
	display: block;
	margin: 0 auto;
}
.lead {
	width: 100%;
}
.content {
	width: 75%;
	float: left;
	p {
		padding: 10px 20px;
		line-height: 30px;
	}
	a {
		text-decoration: none;
		color: blue;
		&:hover {
			color: orange;
		}
	}
}
aside {
	width: 25%;
	float: left;
	a {
		text-decoration: none;
		color: #0082D8;
		&:hover {
			color: orange;
		}
	}
}
.tag {
	span {
		background: rgba(0,0,0,0.2);
		padding: 2px 3px;
		border-radius: 3px;
		margin-left: 5px;
		margin-bottom: 5px;
		display: inline-block;
	}
}
h4 {
	margin-bottom: 5px;
	margin-top: 10px;
}
.menu-burger {
	padding: 10px 10px;
	position: relative;
	width: 80px;
	height: 100%;
	z-index: 1;
}
.icon {
	padding: 10px 10px;
	position: relative;
	width: 80px;
	height: 80px;
	img {
		width: 50px;
		float: right;
		margin: 10px 5px;
		display: block;
	}
}
.menu {
	padding: 10px 10px;
	position: relative;
	display: none;
	a {
		display: block;
		width: 100vw;
		text-align: right;
	}
}
.a-propos {
	width: 80%;
	text-align: justify;
	margin: 0 auto;
	padding-bottom: 2em;
	a {
		text-decoration: none;
		color: blue;
		&:hover {
			color: orange;
		}
		&:active {
			color: orange;
		}
	}
}
.container2 {
	h1 {
		text-align: center;
	}
}
.contact {
	padding: 0;
}
textarea {
	width: 50%;
}
.carte {
	padding-top: 2em;
}
@media screen and (max-width: 768px) {
	section.top {
		div {
			width: 100%;
		}
	}
	.top {
		h2 {
			margin: 0 20px 0 0;
		}
	}
	.list {
		a {
			width: 100%;
		}
	}
	.login {
		width: 100%;
		h1 {
			text-align: center;
			font-size: xx-large;
			padding-left: 0;
		}
	}
	.signup {
		width: 100%;
	}
	.menu-burger {
		padding: 2.5px 17.5px;
		position: relative;
	}
	.icon {
		padding: 2.5px 17.5px;
		position: relative;
	}
	.menu {
		padding: 2.5px 17.5px;
		position: relative;
	}
}
@media screen and (min-width:768px) and (max-width:1280px) {
	.block-par-4 {
		width: 50%;
	}
}
@media screen and (max-width:768px) {
	.block-par-4 {
		width: 100%;
		padding-top: 10px;
	}
	.socials-img {
		padding-bottom: 20px;
	}
	fieldset {
		a {
			margin: 1.2em 0 1.2em;
			text-align: center;
			float: left;
			margin-right: 0;
		}
	}
	.content {
		width: 100%;
		text-align: justify;
	}
	aside {
		width: 100%;
		padding: 0 20px;
	}
	.tag {
		span {
			margin-bottom: 10px;
		}
	}
}
@media screen and (max-width:1280px) {
	.block-footer-nav {
		h4 {
			margin-left: 0px;
		}
		nav {
			margin-left: 0px;
		}
	}
}
@media screen and (min-width: 768px) {
	.icon {
		display: none !important;
	}
	.menu {
		display: block !important;
		a {
			width: auto;
			display: inline-block;
		}
	}
	.menu-burger {
		width: auto;
	}
	nav {
		div {
			a {
				border: none;
			}
		}
	}
}
@media screen and (min-width:768px) {
	.contact {
		input {
			max-width: 30%;
		}
	}
}
